
<app-header></app-header>
<div class="body">
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/deforestation.jpg" alt="Deforestation" style="height:573px;">
      <div class="carousel-caption">
        <h3 style="color: white">Deforestation</h3>
        <p style="color: white"> <b> Nearly 4 billion trees are deforested every year to produce papers of various kinds.</b></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/images/text.jpg" alt="Text" style="height:573px;">
      <div class="carousel-caption">
        <h3 style="color:black">Writing</h3>
        <p style="color:black"> <b> Humans use paper for various purposes. Writing being one of them.</b></p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/images/papers.jpg" alt="Papers" style="height:573px;">
      <div class="carousel-caption">
        <h3 style="color: black">Paper Cycle</h3>
        <p style="color:black"><b>Used papers are ultimately dumped. This is a very ineffective method to utilize something useful out of a necessary resource.</b> </p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="assets/images/ecofriendly.jpg" alt="New York" style="height:573px;">
      <div class="carousel-caption">
        <h3>Go Green</h3>
        <p> <b> Only by not using papers for writing we can make our planet more greener.</b></p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
</div>