.bl1{
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-left:15px;
    padding-top: 10px;
    background-color: mediumspringgreen ;
    height: 573px;
    
}