<app-header></app-header>

<div class="bl1">

    <h3><u> About US</u></h3> <br> 
     Blogsloop is a blogging website with an urge to save the environment. 
     Every year more than 4 billion trees are deforested to produce papers for all uses. We utilize papers 
     for writing, making bags, making napkins, advertisements and various other purposes. Papers are also 
     used in the toilet in large amounts. At the end of the cycle maximum of these papers are wasted and dumped
     in the ocean or ground. We are unnecessarily cutting down trees to produce objects with very limited life cycle
     and adding on to the threat of "Global Warming".
     <br><br>
     Blogsloop in an online platform which urges you to utilize this eco-friendly platform for writing purpose.
     Write a note, share a thought, write a poem, explain a theory. You can share your feelings and thoughts on this 
     platform without adding on to the burden of Global Warming. This platform is absolutely free of cost and is very easy to use.
     Since this is our first project hence you can write, edit or delete your own posts. You can also see posts from others.

</div>
